body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: radial-gradient(#000, #333);
}.small {display: none; color: white; text-align: center;}

.title {
    position: static;
    z-index: 1;
    width: 100%;
} .title h1 {
    color: white;
    margin: 0;
    text-align: center;
    font-size: xx-large;
    font-family: sans-serif;
} .title h2 {
    color: rgba(255, 255, 255, 0.789);
    margin: 0;
    text-align: center;
    padding: 0 20%;
    font-family: monospace;
    font-style: italic;
}

.info {
    float: left;
    width: 20%;
    color: white;
    padding: 0vh 4vw 0 1.3vw;
} .info h3 {
    text-decoration: underline;
    font-size: x-large;
    color: antiquewhite;
} .info p2 {
    color: lightcoral;
} .info p3 {
    color: red;
}

.img {
    position: relative;
    float: left;
    width: 50%;
    padding-top: 3vh;
} #tuin {width: 100%;}

.circle {
    position: absolute;
    background: rgba(0,0,0,0.3);
    width: 6%;
    height: 2.4%;
    border: 0.2vw dashed white;
    border-radius: 50%;
    display: inline-block;
} .circle:hover {
    background: rgba(0,0,0,0.5);
    cursor: pointer;
    -webkit-animation: spinAround 9s linear infinite;
    -moz-animation: spinAround 9s linear infinite;
    animation: spinAround 9s linear infinite;
}
@-webkit-keyframes spinAround {from {-webkit-transform: rotate(0deg)} to {-webkit-transform: rotate(360deg);}}
@-moz-keyframes spinAround {from {-moz-transform: rotate(0deg)} to {-moz-transform: rotate(360deg);}}
@keyframes spinAround {from {transform: rotate(0deg)} to {transform: rotate(360deg);}}

#varken {left: 90%; bottom: 5%;}
#gitaar {left: 5%; bottom: 30%;}
#drums {left: 47%; bottom: 26%;}
#knife {left: 30%; bottom: 70%;}
#hell {left: 80%; bottom: 85%;}

@media (max-width: 920px) {
    .everything {display: none;}
    .small {display: block;}
}
